<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="petrolEngine" class="com.tca.beans.PetrolEngine" primary="true">
	</bean>
	
	<bean id="dieselEngine" class="com.tca.beans.DieselEngine">
	</bean>
	
	<bean id="cNGEngine" class="com.tca.beans.CNGEngine">
	</bean>
	
	<bean id="car" class="com.tca.beans.Car" autowire="constructor">
	</bean>
	
</beans>