<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="travel" class="com.tca.beans.Travel" autowire="byName">
	</bean>
	

	<bean id="bike" class="com.tca.beans.Bike">
	</bean>

	<bean id="car" class="com.tca.beans.Car">
	</bean>

	<bean id="bus" class="com.tca.beans.Bus">
	</bean>

	

</beans>